<footer id="footer" class="bg-dark text-light py-4">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-6 footer-contact">
            <h3 class="nba-brand">N. Betharia & Associates</h3>
            <p>
               Nand Niketan <br />
               Empress Mill Road #1, Santra Market<br />
               Nagpur <br /><br />
               <strong>Phone:</strong> +91 712 2777 044<br />
               <strong>Email:</strong> ca.nbetharia@gmail.com<br />
            </p>
         </div>
         <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
               <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
               <li><i class="bx bx-chevron-right"></i> <a href="about.html">About us</a></li>
               <li><i class="bx bx-chevron-right"></i> <a href="services.html">Services</a></li>
               <li><i class="bx bx-chevron-right"></i> <a href="terms.html">Terms of service</a></li>
               <li><i class="bx bx-chevron-right"></i> <a href="privacy-policy.html">Privacy policy</a></li>
            </ul>
         </div>
         <div class="col-lg-3 col-md-6 footer-links">
            <h4>Practice Areas</h4>
            <ul>
               <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="accounting-systems.html">Accounting Systems Design</a>
               </li>
               <li><i class="bx bx-chevron-right"></i> <a href="accounting.html">Accounting</a></li>
               <li><i class="bx bx-chevron-right"></i> <a href="direct-tax.html">Direct Tax Consulting</a></li>
               <li><i class="bx bx-chevron-right"></i> <a href="indirect-tax.html">Indirect Tax Consulting</a></li>
               <li><i class="bx bx-chevron-right"></i> <a href="compliance.html">Compliance Services</a></li>
            </ul>
         </div>
         <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>
               Occasionally we publish a newsletter, if you wish to subscribe, please fill in your email and hit
               subscribe.
            </p>
            <form action="/forms/newsletter.php" method="post">
               <input type="email" name="email" required /><input type="submit" value="Subscribe" />
            </form>
         </div>
      </div>
      <div class="container text-center mt-3">
         <div class="copyright">
            &copy; 2025 N. Betharia & Associates. All Rights Reserved.<br />
            Designed by <a href="https://www.tvaritatech.com" class="text-info">TvaritaTech</a>
         </div>
      </div>
   </div>
</footer>
