<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container">
    <div class="header-container d-flex align-items-center justify-content-between">
      <div class="logo">
        <a href="/index.html" class="logo-brand">
          <div class="logo-company-name">{{ site.name }}</div>
          <div class="logo-tagline">{{ site.tagline }}</div>
        </a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/index.html#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="/index.html#about">About</a></li>
          <li><a class="nav-link scrollto" href="/index.html#vision-mission">Vision & Mission</a></li>
          <li><a class="nav-link scrollto" href="/index.html#practice-areas">Practice Area</a></li>
          <li><a class="nav-link scrollto" href="/index.html#team">Team</a></li>
          <li><a class="nav-link active" href="/insights/">Insights</a></li>
          <li>
            <a class="nav-link" href="/calculators.html">Calculators <span class="new-badge">NEW</span></a>
          </li>
          <li><a class="getstarted scrollto" href="/index.html#contact">Contact</a></li>
        </ul>
        <i class="fas fa-bars mobile-nav-toggle"></i>
      </nav>
    </div>
  </div>
</header>
